[alias]
	a = add
	b = branch
        c = commit -m
	cl = clone
	co = checkout
	g = grep
	l = log -U1
	p = push
	st = status -sb
[user]
	name = Vaclav Strachon
	email = vaclav.strachon@gmail.com
[core]
	excludesfile = /Users/vaclavstrachon/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[color]
        ui = true
