[alias]
	a = add -v
	b = branch -av
        c = commit -m
	cl = clone
	co = checkout
	g = grep -i
	l = log -p --abrev-commit
	ls = log --oneline
	p = push
	pl = pull --rebase
	st = status -sb
	test = commit --allow-empty -m 'test commit'
[user]
	name = Vaclav Strachon
	email = vaclav.strachon@gmail.com
[color]
        ui = true
