[alias]
	a = add -v
	b = branch -av
        c = commit -m
	cl = clone
	co = checkout
	g = grep -i
	l = log -p --abrev-commit
	ls = log --oneline
	p = push
	pl = pull
	st = status -sb
	test = commit --allow-empty -m 'test commit'
[user]
	name = Vaclav Strachon
	email = vaclav.strachon@gmail.com
[core]
	excludesfile = /Users/vaclavstrachon/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[color]
        ui = true
